#### Source

- https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases
- https://towardsdatascience.com/how-to-group-data-by-different-time-intervals-using-python-pandas-eb7134f9b9b0
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

In [3]:
import pandas as pd

In [4]:
pd.set_option('max_rows',200)
pd.set_option('max_columns', None)

In [5]:
URL = "https://raw.githubusercontent.com/ankitgoel1602/data-science/master/data-analysis/pandas-timeseries/arg-crowdsourcedpdcpilot02_final_obs_all_clean.csv"

In [6]:
df = pd.read_csv(URL)

In [7]:
df.head()

,item_name,item_code,bh_name,bh_code,created_at,brand,created_fr_lat,created_fr_lon,obs_uid,size,quantity,total_size,converted_total_size,normalized_total_size,price,normalized_price,fx_usd,fx_local,normalized_price_usd,normalized_price_local,currency,units,reference_unit_of_measurement,reference_quantity,place_uuid,place_name,place_lat,place_long,store_type,country,l0,l1,l2,l0_geo,l1_geo,l2_geo,l3_geo,pop_density,dist_l2,city_radius,metadata_json
0,"Men's haircut, barber shop",111211101,Hairdressing salons and personal grooming esta...,1112111.0,2016-06-06 14:57:57.493,NaN,-34.612083,-58.424259,0003134e-cb5d-4a81-bd25-770d67c4759b,1.0,1,1.0,1.0,1.0,50.00,50.000,13.938950,13.938950,3.587071,50.000,ARS,piece(s),Service,1.0,0a9723ea-dcdd-478d-8928-4b019ac6b2d5,peluqueria gaacon 124,-34.610687,-58.424356,private_service_provider,AR,Argentina,Buenos Aires,Buenos Aires,Argentina,Ciudad de Buenos Aires,Distrito Federal,Buenos Aires,323.583880,2.397569,50,"{ ""price_includes_charges_value"" : ""yes"" }"
1,"Sardines, tinned, with skin, in vegetable oil,...",110113201,Preserved or processed fish and seafood,1101132.0,2016-04-19 17:47:57.557,GV,-31.466946,-64.163376,0006d339-1ef4-4d27-9f99-aac6773c4633,160.0,1,160.0,160.0,0.8,29.30,36.625,14.163950,14.163950,2.585790,36.625,ARS,g,Gram,200.0,7db0b4f4-eb09-4f0c-bbb5-c5d052064f49,walmart hoggins,-31.464056,-64.163222,small_medium_shop,AR,Argentina,Córdoba,Cordoba,Argentina,Córdoba,Capital,Córdoba,40.096850,6.264624,20,"{ ""tin_can_packaging_value"" : ""yes"", ""sardines..."
2,"Broken rice, 25%, BNR",110111106,Rice,1101111.0,2016-03-08 18:43:48.048,jumbo,-34.590607,-58.408207,0008d632-8fee-4957-972a-ceb1307e06b9,1.0,1,1.0,1.0,1.0,12.49,12.490,15.446950,15.446950,0.808574,12.490,ARS,kg,Kilogram,1.0,61a47c51-c47c-4f2a-8f6b-914ff938218c,DISCO Av. Santa Fe 3047 Palermo,-34.590394,-58.408558,NaN,AR,Argentina,Buenos Aires,Buenos Aires,Argentina,Ciudad de Buenos Aires,Distrito Federal,Buenos Aires,321.490285,4.491375,50,"{ ""packaged_unpackaged_value"" : ""prepacked"", ""..."
3,"Men's shirt, WKB-M",110312103,Garments,1103121.0,2016-04-10 17:33:59.277,george,-31.395527,-64.259949,0008ec67-df92-4d7a-a859-b9d0bb95cacb,1.0,1,1.0,1.0,1.0,349.00,349.000,14.461316,14.461316,24.133350,349.000,ARS,piece(s),Piece,1.0,6a9f0ff13a333d85609d738923db6c49364c0e38,Walmart Córdoba Oeste Colón,-31.394419,-64.260132,small_medium_shop,AR,Argentina,Córdoba,Cordoba,Argentina,Córdoba,Capital,Córdoba,36.855019,6.533218,20,"{ ""brand_value"" : ""george"", ""adult_child_value..."
4,"Vacuum cleaner, WKB-M",110531111,Major household appliances whether electric or...,1105311.0,2016-03-24 21:36:48.824,philips,-34.674744,-58.367367,0008f63c-11f6-4f3b-9277-77a11288f361,1.0,1,1.0,1.0,1.0,1799.00,1799.000,14.502950,14.502950,124.043729,1799.000,ARS,piece(s),Piece,1.0,a09e2842d54603845a7d84859854729151e485cc,Walmart Avellaneda,-34.676401,-58.365980,small_medium_shop,AR,Argentina,Buenos Aires,Buenos Aires,Argentina,Buenos Aires,Avellaneda,Crucecita,118.042055,10.591399,50,"{ ""vaccuum_features_value"" : ""[automatic_cord_..."

In [11]:
df['created_at']=pd.to_datetime(df['created_at'])

In [10]:
df.dtypes

item_name                         object
item_code                          int64
bh_name                           object
bh_code                          float64
created_at                        object
brand                             object
created_fr_lat                   float64
created_fr_lon                   float64
obs_uid                           object
size                             float64
quantity                           int64
total_size                       float64
converted_total_size             float64
normalized_total_size            float64
price                            float64
normalized_price                 float64
fx_usd                           float64
fx_local                         float64
normalized_price_usd             float64
normalized_price_local           float64
currency                          object
units                             object
reference_unit_of_measurement     object
reference_quantity               float64
place_uuid                        object
place_name                        object
place_lat                        float64
place_long                       float64
store_type                        object
country                           object
l0                                object
l1                                object
l2                                object
l0_geo                            object
l1_geo                            object
l2_geo                            object
l3_geo                            object
pop_density                      float64
dist_l2                          float64
city_radius                        int64
metadata_json                     object
dtype: object

In [12]:
# data re-sampled based on an hour
df.resample('H', on='created_at').price.sum()

created_at
2015-12-14 18:00:00     5449.90
2015-12-14 19:00:00       15.98
2015-12-14 20:00:00       66.98
2015-12-14 21:00:00        0.00
2015-12-14 22:00:00        0.00
                         ...
2016-08-16 17:00:00    15219.91
2016-08-16 18:00:00     1484.00
2016-08-16 19:00:00        0.00
2016-08-16 20:00:00    14432.00
2016-08-16 21:00:00     5039.71
Freq: H, Name: price, Length: 5908, dtype: float64

In [15]:
df.resample('15Min', on='created_at').price.sum()

created_at
2015-12-14 18:00:00     5370.00
2015-12-14 18:15:00       79.90
2015-12-14 18:30:00        0.00
2015-12-14 18:45:00        0.00
2015-12-14 19:00:00        0.00
                         ...
2016-08-16 20:15:00        0.00
2016-08-16 20:30:00        0.00
2016-08-16 20:45:00    14432.00
2016-08-16 21:00:00     4968.01
2016-08-16 21:15:00       71.70
Freq: 15T, Name: price, Length: 23630, dtype: float64

In [16]:
df.resample('H', on='created_at', offset='15Min10s').price.sum()

created_at
2015-12-14 17:15:10     5370.00
2015-12-14 18:15:10       79.90
2015-12-14 19:15:10       64.56
2015-12-14 20:15:10       18.40
2015-12-14 21:15:10        0.00
                         ...
2016-08-16 17:15:10    11059.79
2016-08-16 18:15:10        0.00
2016-08-16 19:15:10        0.00
2016-08-16 20:15:10    19400.01
2016-08-16 21:15:10       71.70
Freq: H, Name: price, Length: 5909, dtype: float64

In [17]:
df.resample('W-MON', on='created_at').price.sum()

created_at
2015-12-14    5.532860e+03
2015-12-21    3.850762e+04
2015-12-28    6.686329e+04
2016-01-04    5.392410e+04
2016-01-11    1.260869e+04
2016-01-18    1.962749e+05
2016-01-25    1.375677e+05
2016-02-01    9.215041e+04
2016-02-08    7.709464e+04
2016-02-15    1.479118e+05
2016-02-22    2.991611e+05
2016-02-29    3.912624e+05
2016-03-07    1.359083e+06
2016-03-14    7.363701e+05
2016-03-21    1.657854e+06
2016-03-28    3.404752e+06
2016-04-04    2.448592e+06
2016-04-11    2.448444e+06
2016-04-18    3.527578e+06
2016-04-25    5.566865e+06
2016-05-02    3.294457e+06
2016-05-09    3.118944e+06
2016-05-16    2.473022e+06
2016-05-23    2.510508e+06
2016-05-30    1.081544e+06
2016-06-06    1.955950e+06
2016-06-13    3.373584e+06
2016-06-20    5.360682e+05
2016-06-27    1.282444e+06
2016-07-04    1.274385e+06
2016-07-11    1.042284e+06
2016-07-18    2.251314e+06
2016-07-25    1.308048e+06
2016-08-01    1.253041e+06
2016-08-08    1.063816e+06
2016-08-15    1.206180e+06
2016-08-22    3.569215e+05
Freq: W-MON, Name: price, dtype: float64

In [19]:
df.resample('MS', on='created_at').price.sum()

created_at
2015-12-01    1.538769e+05
2016-01-01    4.297143e+05
2016-02-01    9.352684e+05
2016-03-01    7.425185e+06
2016-04-01    1.384351e+07
2016-05-01    1.253785e+07
2016-06-01    7.264586e+06
2016-07-01    6.739416e+06
2016-08-01    2.721504e+06
Freq: MS, Name: price, dtype: float64

In [20]:
# Grouping data based on month and store type
df.groupby([pd.Grouper(key='created_at', freq='M'), 'store_type']).price.sum().head(15)

created_at  store_type
2015-12-31  other                          34300.00
            public_semi_public_service       833.90
            small_medium_shop               2484.23
            specialized_shop              107086.00
2016-01-31  market                           473.75
            other                         314741.00
            private_service_provider         325.00
            public_semi_public_service       276.79
            small_medium_shop              31042.79
            specialized_shop               29648.44
2016-02-29  market                          1974.04
            other                         527950.00
            private_service_provider        1620.00
            public_semi_public_service      1028.52
            small_medium_shop             224653.83
Name: price, dtype: float64

In [22]:
df.groupby([pd.Grouper(key='created_at', freq='M'), 'store_type']).agg(
    unique_items=('item_code', 'nunique'),
         total_quantity=('quantity','sum'),
         total_amount=('price','sum')).head(20)

                                       unique_items  total_quantity  \
created_at store_type
2015-12-31 other                                  3               6
           public_semi_public_service             1               1
           small_medium_shop                     27              88
           specialized_shop                       2              20
2016-01-31 market                                 2              12
           other                                  5              43
           private_service_provider               2               2
           public_semi_public_service             2               2
           small_medium_shop                     73             472
           specialized_shop                       7              24
2016-02-29 market                                27              41
           other                                  4              75
           private_service_provider               5              11
           public_semi_public_service             2               5
           small_medium_shop                     77            1033
           specialized_shop                      16              77
2016-03-31 None                                   2              18
           bulk_discount_shop                     2               3
           market                                 5             101
           other                                  6             487

                                       total_amount
created_at store_type
2015-12-31 other                           34300.00
           public_semi_public_service        833.90
           small_medium_shop                2484.23
           specialized_shop               107086.00
2016-01-31 market                            473.75
           other                          314741.00
           private_service_provider          325.00
           public_semi_public_service        276.79
           small_medium_shop               31042.79
           specialized_shop                29648.44
2016-02-29 market                           1974.04
           other                          527950.00
           private_service_provider         1620.00
           public_semi_public_service       1028.52
           small_medium_shop              224653.83
           specialized_shop               117859.88
2016-03-31 None                              164.20
           bulk_discount_shop                222.90
           market                           1807.68
           other                         3355801.43