In [18]:
import os
import pandas as pd

from datetime import datetime

In [7]:
pd.set_option('max_columns',None)
pd.set_option('max_rows', 200)

In [47]:
PATH = "/Users/vinodgattani/Documents/Great Learning/WeekII"
FILE = "uberdrive.csv"

In [44]:
OUT_PATH = "/Users/vinodgattani/Documents/Great Learning/WeekII"
OUT_FILE = "uberdrive_clean.csv"

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [5]:
#read file

df = pd.read_csv(os.path.join(PATH, FILE),
                sep=",",
                low_memory=False,
                )

In [11]:
#rename columns

exist_cols = df.columns.values
new_cols = [x[:-1] for x in exist_cols] #removing last char from column name
df.columns = new_cols

In [13]:
#custom rename columns

df.rename(columns = {
    "START": "start_place",
    "STOP": "stop_place"
}, inplace=True)

In [14]:

#count missing values

df.isnull().sum(axis=0)

START_DATE       0
END_DATE         1
CATEGORY         1
start_place      1
stop_place       1
MILES            0
PURPOSE        503
dtype: int64

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [15]:
#drop na rows

df.dropna(subset=['END_DATE','start_place','stop_place'],
         inplace=True) #alternatively you can drop from all columns

In [16]:
#fill missing values

df['PURPOSE'].fillna("NA", inplace=True)

In [17]:
df.head()

,START_DATE,END_DATE,CATEGORY,start_place,stop_place,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NA
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

https://docs.python.org/3/library/datetime.html

In [19]:
#change column types

#df['MILES'] = df['MILES'].astype(float)
#df['start_place'] = df['start_place'].astype(str)
 

df['START_DATE'] = df['START_DATE'].apply(lambda x : datetime.strptime(x, '%m/%d/%Y %H:%M'))
df['END_DATE'] = df['END_DATE'].apply(lambda x : datetime.strptime(x, '%m/%d/%Y %H:%M'))

In [20]:
df.head()

,START_DATE,END_DATE,CATEGORY,start_place,stop_place,MILES,PURPOSE
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NA
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [21]:
df.dtypes

START_DATE     datetime64[ns]
END_DATE       datetime64[ns]
CATEGORY               object
start_place            object
stop_place             object
MILES                 float64
PURPOSE                object
dtype: object

In [23]:
datatype = df.dtypes.to_dict()

In [24]:
datatype

{'START_DATE': dtype('<M8[ns]'),
 'END_DATE': dtype('<M8[ns]'),
 'CATEGORY': dtype('O'),
 'start_place': dtype('O'),
 'stop_place': dtype('O'),
 'MILES': dtype('float64'),
 'PURPOSE': dtype('O')}

In [25]:
df['trip_duration_in_sec'] = (df['END_DATE'] - df['START_DATE']).dt.seconds

In [26]:
df.head()

,START_DATE,END_DATE,CATEGORY,start_place,stop_place,MILES,PURPOSE,trip_duration_in_sec
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,360
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NA,720
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,780
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,840
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,4020

In [32]:
%%time
df['speed_np'] = df['MILES'].values / (df['trip_duration_in_sec'].values/3600)

CPU times: user 1.29 ms, sys: 147 µs, total: 1.43 ms
Wall time: 1.32 ms

/Users/vinodgattani/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

In [41]:
#droppong a columns

df.drop(columns=['speed_np'], inplace=True)

In [34]:
%%time
df['speed_np'] = df['MILES'] / (df['trip_duration_in_sec']/3600)

CPU times: user 1.81 ms, sys: 209 µs, total: 2.02 ms
Wall time: 1.84 ms

In [42]:
#droppong a columns

df.drop(columns=['speed_np'], inplace=True)

In [35]:
df['speed'] = df['MILES'].values / (df['trip_duration_in_sec'].values/3600)

/Users/vinodgattani/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.dayofweek.html

In [36]:
df['dayofweek'] = df['START_DATE'].dt.dayofweek
df['hour'] = df['START_DATE'].dt.hour

In [37]:
df.head()

,START_DATE,END_DATE,CATEGORY,start_place,stop_place,MILES,PURPOSE,trip_duration_in_sec,speed_np,speed,dayofweek,hour
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,360,51.000000,51.000000,4,21
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NA,720,25.000000,25.000000,5,1
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,780,22.153846,22.153846,5,20
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,840,20.142857,20.142857,1,17
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,4020,57.044776,57.044776,2,14

In [39]:
#working with string columns

#use .str

df['CATEGORY'] = df['CATEGORY'].str.lower()
df['CATEGORY'] = df['CATEGORY'].str.upper()
df['PURPOSE'] = df['PURPOSE'].str.replace("/", "_")

In [40]:
df.head()

,START_DATE,END_DATE,CATEGORY,start_place,stop_place,MILES,PURPOSE,trip_duration_in_sec,speed_np,speed,dayofweek,hour
0,2016-01-01 21:11:00,2016-01-01 21:17:00,BUSINESS,Fort Pierce,Fort Pierce,5.1,Meal_Entertain,360,51.000000,51.000000,4,21
1,2016-01-02 01:25:00,2016-01-02 01:37:00,BUSINESS,Fort Pierce,Fort Pierce,5.0,NA,720,25.000000,25.000000,5,1
2,2016-01-02 20:25:00,2016-01-02 20:38:00,BUSINESS,Fort Pierce,Fort Pierce,4.8,Errand_Supplies,780,22.153846,22.153846,5,20
3,2016-01-05 17:31:00,2016-01-05 17:45:00,BUSINESS,Fort Pierce,Fort Pierce,4.7,Meeting,840,20.142857,20.142857,1,17
4,2016-01-06 14:42:00,2016-01-06 15:49:00,BUSINESS,Fort Pierce,West Palm Beach,63.7,Customer Visit,4020,57.044776,57.044776,2,14

In [43]:
#writing file


df.to_csv(f"{OUT_PATH}/{OUT_FILE}.zip",
          index=False,
          compression='infer')

Reading and Processing Large Files - Sample

#### Credits
https://stackoverflow.com/questions/38531195/writing-large-pandas-dataframes-to-csv-file-in-chunks

In [74]:
df_reader = pd.read_csv(os.path.join(PATH, FILE),
                       chunksize=200)

In [75]:
df_reader

In [76]:
header = True
for chunk in df_reader:
    
    #only sample operation # we can all processing here
    
    chunk['MILES*'] = chunk['MILES*'] + 1 

    chunk.to_csv(f"{OUT_PATH}/{OUT_FILE}",
                mode='a',
                header = header,
                index = False)

    header = False

In [ ]:
df_temp = pd.read_clipboard()
df_temp = pd.to_clipboard()

#### Sample Linux Commands

In [71]:
!wc -l "/Users/vinodgattani/Documents/Great Learning/WeekII/uberdrive.csv"

    1157 /Users/vinodgattani/Documents/Great Learning/WeekII/uberdrive.csv

In [77]:
!wc -l "/Users/vinodgattani/Documents/Great Learning/WeekII/uberdrive_clean.csv"

    1157 /Users/vinodgattani/Documents/Great Learning/WeekII/uberdrive_clean.csv

In [ ]:
!ls -lta "/Users/vinodgattani/Documents/Great Learning/WeekII"

In [78]:
!head -5 "/Users/vinodgattani/Documents/Great Learning/WeekII/uberdrive.csv"